.right-sidebar {
  background-color: #1a1a1a;
  color: white;
  padding: 20px;
  font-family: Arial, sans-serif;
  width: 350px;
  border-radius: 8px;
}

.section {
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #2c2c2c;
  padding: 15px;
}

.section-title {
  margin-bottom: 15px;
  font-size: 18px;
  background-color: #343a40;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.lead-info, .campaign-details, .activity-steps {
  margin-left: 10px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.info-label {
  font-size: 14px;
  color: #a0a0a0;
}

.info-value {
  font-size: 14px;
}

a {
  color: #0abde3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.campaign-name {
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.campaign-steps {
  font-size: 14px;
  color: #a0a0a0;
  margin-bottom: 15px;
}

.step {
  margin-top: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.icon {
  width: 24px;
  height: 24px;
  background-size: cover;
  margin-right: 20px;
}

.email-icon {
  background-image: url('../component/image.jpg'); /* Replace with the actual path */
}

.email-open-icon {
  background-image: url('../component/image.jpg'); /* Replace with the actual path */
}

.step-details {
  display: flex;
  flex-direction: column;
}

.step-title {
  font-size: 16px;
}

.step-date {
  margin-top: 5px;
  font-size: 12px;
  color: #a0a0a0;
}
